@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size:100%;
    background-position: relative;
}
ul{
   
    list-style:none;
    width: 100%;
    border-bottom: 6px double rgb(19, 106, 168);
    overflow: hidden;
}
li{
   
    float:right;
    padding-left:93px;
    margin-right: 7px;
    margin-top: 10px;

    
}
li a{
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: rgb(78, 67, 67);
    text-shadow: 2px 2px 2px grey;
    font-style: italic;
    font-size: 20px;

}
ul li a:hover{
    font-style: italic;
    color: rgb(19, 106, 168);
    font-size: 23px;
}
h1{
    font-size: 60px;
    margin-top: 80px;
    text-align: center;
    text-shadow: 4px 4px 4px grey;
}
.quote{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin: 50px 250px;
    text-align: center; 
    color: rgb(78, 67, 67);
    text-shadow: 1px 1px 1px black;
}
.login form{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 19px;
    text-align: center;
    margin: 28px 80px;
}
form h4{
    margin-bottom: 20px;
    border-left: 5px double black;
    border-right: 5px double black;
}
form p{
    font-size: 15px;
    margin-top: 10px;
}
.login{
    display:block;
    margin:50px 450px;
    border: 5px solid rgba(130, 112, 146,0.7);
    border-radius: 10px;
    background-color: rgba(130, 112, 146,0.7);
    box-shadow: 4px 4px 4px rgb(74, 56, 90);
}
form a{
    color:rgb(100, 6, 6);
}
input{
    border-right: 2px groove rgb(119, 119, 111, 0.8);
    border-bottom: 2px groove rgb(119, 119, 111, 0.8);
    height: 30px;
    width:300px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px grey;
}
::placeholder{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    word-spacing: 5px;
    letter-spacing:2px;
    color: saddlebrown;
    text-align: center;
}
